# Banco de Dados PostgreSQL
POSTGRES_USER=devuser
POSTGRES_PASSWORD=devpassword
POSTGRES_DB=appdb

# Backend Node.js
PORT=3000
DATABASE_URL=postgresql://devuser:devpassword@db:5432/appdb?schema=public
